<h3> <a class="btn btn-secondary" href="/employee">Add New</a> {{#if user}}<a class="btn btn-primary" href="/login/logout"> logout</a>{{else}}<a class="btn btn-primary" href="/login"> login</a> {{/if}} Employee List</h3>
{{#if user}}
<h5>{{user.email}}</h2>
{{/if}}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.fullName}}</td>
                <td>{{this.email}}</td>
                <td>{{this.mobile}}</td>
                <td>{{this.city}}</td>
                <td>
                    <a href="/employee/{{this._id}}">Edit</a>
                    <a href="/employee/delete/{{this._id}}">Delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>